body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins';
  flex: 1;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

.pn-wallpaper-trilhas {
  background: url(../../assets/wallpaper.jpg);
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  align-items: center;
}

.pn-buscar-trilhas {
  margin-top: -50px;
}

.pn-wallpaper-trilhas h1 {
  color: #fff;
  font-size: 3rem;
  margin-top: -100px;
}

.pn-buscar-container {
  background-color: #fff;
  height: 325px;
  border-radius: 60px;
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-items: center;
  z-index: 200;
  margin-top: -150px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.pn-buscar-trilhas ul {
  display: flex;
  gap: 120px;
  margin-bottom: 40px;
  justify-content: space-between;
  max-width: 800px;
  margin-left: 65px;
}

.pn-buscar-trilhas a {
  font-size: 1.7rem;
  color: #000;
  font-weight: 600;
}

#pn-button {
  border: none;
  border-radius: 60px;
  outline: none;
  width: 205px;
  height: 60px;
  background-color: #f27405;
  text-decoration: none;
  font-size: 28px;
  color: #fff;
  right: 0px;
  cursor: pointer;
  margin-top: -11px;
}

#pn-input {
  padding: 0px 230px 0px 20px;
  border: none;
  border-radius: 60px;
  outline: none;
  width: 680px;
  height: 60px;
  background-color: #d6d6d6;
  font-size: 24px;
}

.pn-trilhas {
  max-width: 1300px;
  margin: 0 auto;
}

.tipo {
  margin: 50px 0px;
}

.tipo ul {
  margin-top: 100px;
  max-width: 1120px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.tipo p {
  font-size: 2rem;
  font-weight: 600;
}

.tipo a {
  font-weight: 600;
  color: #000;
}

.caseTrilha {
  max-width: 1300px;
  display: grid;
  margin: 0 auto;
  gap: 50px;
  justify-content: center;
  grid-template-columns: repeat(4, 250px);
}

.espaco {
  margin-bottom: 100px;
}
