body {
  margin: 0px;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

.carousel-container {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem 0;
}

.pnTituloParceiros {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #000;
}

.pnLogoParceirosDados p {
  font-weight: 500;
  line-height: 1.3;
}

.pnLogoParceirosDados {
  text-align: center;
  margin-bottom: 50px;
}

.carousel-track {
  display: flex;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1400px;
  animation: scroll 20s linear infinite;
}

.carousel-item {
  flex: 0 0 auto;
  padding: 0 2rem;
}

.carousel-item img {
  height: 200px;
  object-fit: contain;
}

.ColorBack {
  background-color: #fff;
  margin: 0px;
}

/* Animação infinita */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
