@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

.pnItemsPergunta{
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.6);
}

.pnPerguntasContainer {
  margin: 0 auto;
  padding: 0px;
  margin-top: 50px;
  justify-items: center;
}

.pnPerguntaConteudo {
  margin: 0px;
  padding: 0px;
  width: 1030px;
  height: 55px;
  background-color: #e4e4e4;
  align-content: center;
}

.pnPerguntaConteudo h2 {
  margin: 0px 40px;
  padding: 0px;
  color: #000;
}

.pnRespostaConteudo {
  margin: 0px;
  padding: 0px;
  width: 1030px;
  height: 88px;
  background-color: #fff;
  align-content: center;
}

.pnRespostaConteudo p {
  margin: 0px 40px;
  padding: 0px;
}
