body {
  font-family: 'poppins';
  margin: 0px;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}
a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.logo {
  max-width: 100%;
  height: 80px;
}

.pnHeader {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 8px 0;
}

.pnHeaderContainer {
  position: relative;
  display: flex;
  gap: 10px;
  max-width: 1300px;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
}

.pnHeaderContainer img {
  width: 200px;
}

.pnHeaderPesquisa button {
  z-index: 5;
  position: absolute;
  top: 14px;
  font-size: 1.1rem;
  color: #999;
  right: 5px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.pnHeaderPesquisa button:hover {
  color: #000;
  transition: 0.2s;
}

.pnHeaderPesquisa button:active {
  color: #ccc;
}

.pnHeaderPesquisa {
  position: relative;
}

.pnHeaderBarraPesquisa {
  font-size: 1.1rem;
  width: 300px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid transparent;
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
  color: #0e0e0e;
  padding: 0px 50px 0px 20px;
  flex-grow: 1;
}

.pnHeaderBarraPesquisa::placeholder {
  color: #999;
}

.pnHeaderBarraPesquisa:focus {
  outline: none;
}

.pnHeaderNavMenu {
  margin-left: 0px;
  display: flex;
  gap: 30px;
}

.pnHeaderNavMenu li {
  margin: 0px;
}

.pnHeaderLink {
  font-size: 1rem;
  font-weight: 450;
  color: #0e0e0e;
  display: block;
  position: relative;
}

.pnHeaderLink::after {
  content: '';
  bottom: 0px;
  position: absolute;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #365902;
  transition: 0.3s ease-in-out;
}

.pnHeaderLink:hover::after {
  width: 100%;
}

.pnHeaderPesquisa button {
  background-color: transparent;
  border: none;
  padding: 0px 15px;
  cursor: pointer;
  color: #888;
  font-size: 1rem;
}

.pnHeaderDados {
  display: flex;
  gap: 10px;
}

.pnHeaderDados a {
  font-size: 0.875rem;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  align-content: center;
  display: block;
}

#entrar {
  background-color: #365902;
}

#entrar:active {
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#cadastrar {
  color: #f27405;
  border-radius: 4px;
  border: 2px solid #f27405;
}

#cadastrar:active {
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.pnHeaderNavMenu {
  padding: 0px;
}

@media (max-width: 1300px) {
  .pnHeaderContainer {
    justify-content: center;
  }
}
