@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

.pnWallpaperTrilhaSelecionada {
  height: 350px;
  background: url('../../assets/wallpaperTrilha.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  align-items: center;
}

.pnWallpaperTrilhaSelecionadaConteudo{
  margin: 0px;
  padding: 0px;
  justify-items: center;
  align-content: center;
}

.pnWallpaperTrilhaSelecionadaConteudo p{
  color: #fff;
}

.pnWallpaperTrilhaSelecionadaConteudo h1{
  color: #fff;
  font-size: 40px;
  margin-bottom: 150px;
}

.pnTrilhaFotosGuias{
  margin: 0 auto;
  padding: 0px;
  width: 1100px;
  height: 500px;
  background-color: #e5e5e5;
  border-radius: 60px;
  display: flex;
  z-index: 200;
  margin-top: -160px;
}

.pnTrilhaFotosTitulo h2{
  color: #000;
}

.pnTrilhaGuiasTitulo h2{
  color: #000;
}

.pnTrilhaFotosGuiasContainer{
  margin: 0 auto;
  padding: 50px;
  display: flex;
  background-color: transparent;
  gap: 60px;
  align-items: center;
}

.pnTrilhaFotosImgs{
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 10px;
}

.pnTrilhaFotosImgsEsq1{
  margin: 0px;
  padding: 0px;
  width: 450px;
  height: 320px;
}

.pnTrilhaFotosImgsDir1{
  margin: 0px;
  padding: 0px;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.pnTrilhaFotosImgsDir2{
  margin: 0px;
  padding: 0px;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.pnTrilhaFotosImgsDir3{
  margin: 0px;
  padding: 0px;
  width: 100px;
  height: 100px;
}

.pnTrilhaGuiasCard{
  margin: 0px;
  padding: 0px;
  width: 280px;
  height: 320px;
  background-color: #fff;
  border-radius: 30px;
  align-content: center;

}

.pnTrilhaGuiasCardConteudo{
  margin: 0px;
  padding: 30px;
  position: relative;
}

.pnTrilhaGuiasCardTexto{
  margin: 0px;
  padding: 0px;
}

.pnTrilhaGuiasCardTexto p{
  font-size: 12px;
}

.pnTrilhaGuiasCardGuia1{
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-content: center;
  max-height: 50px;
}

.pnTrilhaGuiasCardGuia1Img{
  margin: 0px;
  padding: 0px;
  width: 50px;
  height: 50px;
}

.pnTrilhaGuiasCardGuia1Nome h3{
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #365902;
}

.pnTrilhaGuiasCardGuia1Avaliacao{
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 15px;
  height: 15px;
  margin-top: 5px;
}

.pnTrilhaGuiasCardGuia2{
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-content: center;
  max-height: 50px;
}

.pnTrilhaGuiasCardGuia2Img{
  margin: 0px;
  padding: 0px;
  width: 50px;
  height: 50px;
}

.pnTrilhaGuiasCardGuia2Nome h3{
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #365902;
}

.pnTrilhaGuiasCardGuia2Avaliacao{
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 15px;
  height: 15px;
  margin-top: 5px;
}

.pnTrilhaGuiasCardBtnContainer{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.pnTrilhaGuiasCardBtn{
  margin: 0px;
  padding: 0px;
  border: none;
  background: none;
  margin-top: 20px;
  background-color: #F27405;
  width: 100px;
  height: 40px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.pnTrilhaGuiasCardBtn:active{
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
}

.pnTrilhaDesc{
  margin: 0 auto;
  padding: 0px;
  max-width: 1100px;
  margin-top: 80px;
}

.pnTrilhaDescTitulo{
  margin: 0 auto;
  padding: 0px;
  max-width: 1100px;
  margin-bottom: 20px;
}

.pnTrilhaDescTitulo h2{
  margin: 0 auto;
  color: #000;
}

.pnTrilhaDescConteudoContainer{
  margin: 0 auto;
  padding: 0px;
  width: 1100px;
  height: 600px;
  background-color: #e5e5e5;
  border-radius: 60px;
  display: flex;
}

.pnTrilhaDescConteudo{
  margin: 0 auto;
  padding: 0px;
  max-width: 800px;
  align-content: center;
  font-size: 18px;
}

.pnTrilhaInfo{
  margin: 0 auto;
  padding: 0px;
  max-width: 1100px;
  margin-top: 80px;
}

.pnTrilhaInfoTitulo{
  margin: 0 auto;
  padding: 0px;
  max-width: 1100px;
  margin-bottom: 20px;
}

.pnTrilhaInfoTitulo h2{
  margin: 0 auto;
  color: #000;
}

.pnTrilhaInfoConteudoContainer{
  margin: 0 auto;
  padding: 0px;
  width: 1100px;
  height: 150px;
  background-color: #000;
  border-radius: 30px;
  align-content: center;
  justify-items: center;
}

.pnTrilhaInfoConteudo1{
  margin: 0 auto;
  padding: 0px;
  max-width: 1000px;
  display: flex;
  align-content: center;
  gap: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #fff;
}

.pnTrilhaInfoConteudo2{
  margin: 0 auto;
  padding: 0px;
  max-width: 1000px;
  display: flex;
  align-content: center;
  gap: 20px;
  font-size: 20px;
  color: #fff;
}

.pnTrilhaEqp{
  margin: 0 auto;
  padding: 0px;
  margin-top: 80px;
}

.pnTrilhaEqpTitulo{
  margin: 0 auto;
  padding: 0px;
  max-width: 1100px;
  margin-bottom: 20px;
}

.pnTrilhaEqpTitulo h2{
  margin: 0 auto;
  color: #000;
}

.pnTrilhaEqpConteudoContainer{
  height: 350px;
  background-color: #365902;
  align-items: center;
  justify-items: center;
}

.pnTrilhaEqpConteudoContainer ul{
  margin: 0px;
  padding: 0px;
}

.pnTrilhaEqpConteudoContainer li{
  margin-bottom: 30px;
}

.pnTrilhaConteudoContainerItems{
  height: 350px;
  align-items: center;
  justify-items: center;
  display: flex;
  gap: 200px;
  max-width: 1100px;
}

.pnTrilhaEqpConteudo1{
  margin: 0 auto;
  padding: 0px;
  display: flex;
  font-size: 20px;
  color: #fff;
}

.pnTrilhaEqpConteudo2{
  margin: 0 auto;
  padding: 0px;
  display: flex;
  font-size: 20px;
  color: #fff;
}

.pnTrilhaEqpConteudo2 ul{
  text-align: center;
}

.pnTrilhaEqpConteudo3{
  margin: 0 auto;
  padding: 0px;
  display: flex;
  font-size: 20px;
  color: #fff;
}

.pnTrilhaEqpConteudo3 ul{
  text-align: right;
}

.pnTrilhaTrajeto{
  margin: 0 auto;
  padding: 0px;
  max-width: 1100px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.pnTrilhaTrajetoConteudoContainer{
  margin: 0 auto;
  padding: 0px;
  width: 1100px;
  height: 600px;
  background-color: #e5e5e5;
  border-radius: 60px;
  display: flex;
}

.pnTrilhaTrajetoConteudo{
  margin: 0 auto;
  padding: 0px;
  max-width: 800px;
  align-content: center;
  font-size: 18px;
}

.pnTrilhaTrajetoTitulo h2{
  margin: 0 auto;
  padding: 0px;
  color: #000;
  margin-bottom: 20px;
}

.pnTrilhaTrajetoMapa{
  margin: 0px;
  padding: 0px;
}
