@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0px;
  padding: 0px;
  background-color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
}

.pnWallpaperGuias {
  height: 350px;
  background: url('../../assets/wallpaper.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  align-items: center;
}

.pnWallpaperGuias h1 {
  color: #fff;
  font-size: 3rem;
  margin-top: -130px;
}

.pnBuscarGuias {
  margin: 0 auto;
  background-color: #fff;
  max-width: 1080px;
  height: 325px;
  border-radius: 60px;
  justify-items: center;
  align-content: center;
  top: 50px;
  z-index: 200;
  margin-top: -150px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.pnCaixaBuscaGuias {
  align-content: center;
  position: relative;
}

.pnCaixaBuscaGuias button {
  border: none;
  border-radius: 60px;
  outline: none;
  width: 205px;
  height: 60px;
  background-color: #f27405;
  text-decoration: none;
  font-size: 28px;
  color: #fff;
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.pnCaixaBuscaGuias button:active {
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.pnCaixaBuscaGuias input {
  padding: 0px 230px 0px 20px;
  border: none;
  border-radius: 60px;
  outline: none;
  width: 680px;
  height: 60px;
  background-color: #d6d6d6;
  font-size: 24px;
}

.pnConteudoBuscarGuias {
  justify-items: center;
}

.pnConteudoBuscarGuias h2 {
  font-size: 2.7rem;
  color: #000;
}

.pnConteudoBuscarGuias .pnCaixaBuscaGuias {
  margin-top: 50px;
}

.pnTituloGuias {
  margin: 0 auto;
  max-width: 1300px;
  margin-top: 50px;
}

.pnTituloGuias h2 {
  color: #000;
  font-size: 30px;
}

.pnCardsGuias {
  margin: 80px auto;
  max-width: 1200px;
  gap: 40px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
