@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

main{
  padding: 0px;
  margin: 0px;
  display: flex;
  height: 100vh;
}

.pnRegistroGuiaBancariosEsq{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
}

img{
  margin: 0px;
  padding: 0px;
  width: 550px;
}

.pnRegistroGuiaBancariosImg{
  margin: 0px;
  padding: 0px;
  width: 50vw;
  height: 100vh;
  background: url(/src/assets/fundoLoginRegistro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.pnRegistroGuiaBancariosFormContainer{
  max-width: 400px;
  margin: 0px;
  padding: 0px;
}

.pnRegistroGuiaBancariosDir{
  margin: 0px;
  padding: 0px;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

form{
  padding: 0px;
  margin: 0px;
  align-content: center;
}

.pnRegistroGuiaBancariosForm{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.pnRegistroGuiaBancariosForm h1{
  font-size: 2rem;
}

.pnRegistroGuiaBancariosGrupo{
  display: flex;
  align-items: center;
  width: 400px;
  border-bottom: 1px solid #000;
  margin-top: 25px;
}

.pnRegistroGuiaBancariosGrupo img {
  width: 20px;
  height: 20px;
}

.pnRegistroGuiaBancariosCampoEmail,
.pnRegistroGuiaBancariosCampoSenha,
.pnRegistroGuiaBancariosCampoNome,
.pnRegistroGuiaBancariosCampoSobrenome,
.pnRegistroGuiaBancariosCampoRepetirSenha,
.pnRegistroGuiaBancariosCampoCPF,
.pnRegistroGuiaBancariosCampoTelefone {
  border: none;
  background: none;
  outline: none;
  font-size: .800rem;
  width: 100%;
  height: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pnRegistrarGuiaBancariosButton{
  margin: 0px;
  padding: 0px;
  margin-top: 40px;
  border: none;
  background-color: #F2B705;
  width: 400px;
  height: 50px;
  border-radius: 8px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.pnRegistrarGuiaBancariosButton:active{
  box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
}

.pnRegistroGuiaBancariosFormContainer h2{
  padding: 0px;
  margin: 0px;
  font-size: .800rem;
  margin-top: 20px;
  color: #000;
}

.pnGuiaBancariosButtonLink1{
  color: #365902;
}
.pnGuiaBancariosButtonLink2{
  color: #F27405;
}

.pnRegistroGuiaBancariosAcessibilidade {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; 
}

.pnRegistroGuiaBancariosAcessibilidade img{
  width: 60px;
  height: 60px;
  cursor: pointer;
}
