@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,
h2,
h3,
p {
  margin: 0px;
  font-family: 'Poppins';
}

ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.pn-foto-trilha {
  height: 200px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  width: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  border-radius: 30px 30px 0px 0px;
  justify-content: center;
  align-items: center;
}

.pn-info {
  background-color: aquamarine;
  width: 250px;
  height: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0px 0px 30px 30px;
  justify-items: center;
}

.localiza {
  font-family: 'Poppins';
  display: flex;
  justify-self: center;
  gap: 95px;
  margin-top: -5px;
  position: relative;
}

.pn-info h3 {
  font-size: 1.2rem;
  padding: 5px;
  position: relative;
  text-align: left;
  justify-self: start;
  margin-left: 5px;
}

.localiza::before {
  content: '';
  width: 230px;
  height: 2px;
  background-color: #e2e2e2;
  position: absolute;
  top: 0px;
  left: 5px;
}

.texto {
  font-size: 0.875rem;
  line-height: 1.2;
  max-width: 25ch;
  margin: 20px 0px;
  font-weight: 500;
}

.pn-distancia {
  font-family: 'Poppins';
  justify-self: start;
  margin-left: 10px;
}
.pn-distancia p {
  font-size: 0.875rem;
  line-height: 1.2;
}

.pn-distancia span {
  font-weight: 500;
  font-size: 0.975rem;
}

.conhecer {
  text-decoration: none;
  font-family: 'Poppins';
  padding: 7px 15px;
  background-color: bisque;
  border-radius: 4px;
  display: block;
  justify-self: end;
  margin-right: 15px;
  margin-top: 5px;
}
